option_settings:
  - option_name: FCREPO_PATH
    value:
  - option_name: FCREPO_URL
    value:
  - option_name: SECRET_KEY_BASE
    value:
  - option_name: SOLR_URL
    value:
  - option_name: EFS_REGION
    value:
  - option_name: EFS_MOUNT_DIR
    value:
  - option_name: EFS_VOLUME_ID
    value:
  - option_name: DATABASE_URL
    value:
  - option_name: DATABASE
    value: 
  - option_name: DATABASE_USER
    value:
  - option_name: DATABASE_PASSWORD
    value:
  - option_name: DATA_PATH
    value:
  - option_name: RAILS_SKIP_MIGRATIONS
    value:
