<a id="logo" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true">
  <div class="bmlogo">
        <a href="/" id="ga-hp-header-home" onclick="ga('send', 'event', 'HP-Logo', 'Click', 'header-logo-large');"> <img src="https://github.com/aaron-collier/csusm-hyrax/raw/master/public/csusmribbon.png" alt="CSUSM Home"> </a>
    </div>
</a>
